:root {
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);
  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);
}

* {
  box-sizing: border-box;
}

body,
html {
  min-height: 100dvb;
  margin: 0;
  padding: 0;
  background-color: var(--grey-100);
  font-family: "Barlow Semi Condensed", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  padding: 30px;
}

/* Collect all the common attributes  */
.card-1,
.card-2,
.card-3,
.card-4,
.card-5 {
  border-radius: 10px;
  padding: 30px;
}

.card-1 {
  background-color: var(--purple-500);
  color: var(--white);
}
.card-2 {
  background-color: var(--grey-500);
  color: var(--white);
}
.card-3 {
  background-color: var(--white);
  color: var(--grey-400);
}
.card-4 {
  background-color: var(--dark-blue);
  color: var(--grey-100);
}
.card-5 {
  background-color: var(--white);
  color: var(--grey-400);
}

header {
  display: flex;
  gap: 20px;
}
.profile-img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  overflow: hidden;
}
.user-status {
  margin-top: 5px;
}
.card-1 header img {
  border: 2px solid var(--purple-300);
}
.card-2 header img {
  border: 2px solid var(--grey-200);
}
.card-3 header img {
  border: 2px solid var(--grey-400);
}
.card-4 header img {
  border: 2px solid var(--purple-500);
}
.card-5 header img {
  border: 2px solid var(--grey-400);
}
